/* Custom stylesheet by Ashraful Kabir */
/* css for reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* #################################### End of reset ###################################################*/
html, body{
	font-family: 'Thasadith', sans-serif;
	background: #ccc;
	background-image: url(images/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.fa{
	font-size: 24px;
	color: #ea4d1a;
}
section{

}
.container{
	background:rgba(222, 140, 140, 0.8);
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	box-sizing: border-box;
  padding: 50px;
}
.text{
	font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.site__title {
    color: #ea4d1a;	
		animation: hue 60s infinite linear;  
		-webkit-animation: hue 60s infinite linear;
		font-size: 56px;
		margin: 0 0 20px 0;
		text-align:center;
}
.social-icons{
	text-align: center;
	padding-top: 20px;
}
.social-icons ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
/*  ################################## Media queries for responsive design layout #####################################*/


/* Iphone 4,5 portrait */

@media(max-width:320px){
	
}

/* Iphone 6 portrait */

@media(max-width:375px){}

/* Iphone 6 plus portrait*/

@media(max-width:414px){
	.site__title{
		font-size:21px;
	}
	.text{
		font-size: 12px;
	}
}

/* Iphone 4 landscape */

@media(max-width:480px){}

/* Iphone 5 landscape */

@media(max-width:568px){}

/* Google nexus-7 portrait*/

@media(max-width:600px){}

/* Galaxy s3,s4 landscape*/

@media(max-width:640px){}

/* Ipad portrait */

@media(max-width:768px){
	
}

/* Google Nexus-7 landscape */

@media(max-width:960px){
	.site__title{
		font-size:31px;
	}
	.text{
		font-size: 14px;
	}
}

/* Ipad landscape, small desktop */

@media(max-width:1024px){}

/* Laptop with MDPI Screen landscape */

@media(max-width:1280px){}

/* Mac book Pro, Laptop with HiDI screen landscape */

@media(max-width:1440px){}

/* MacBook Pro(High Resulation),Desktop Large screen */

@media(max-width:1680px){}

/* Desktop Large screen */

@media(max-width:1824px){}

/* 21-Inch iMac, Desktop Large screen */

@media(max-width:1920px){}

/* 27-Inch iMac*/

@media(max-width:2560px){}


